<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-xs btn-primary" %> |
<%= link_to 'Back', profiles_path, class: "btn btn-xs btn-primary" %>
